body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, #ac1ea1, #d39cc2);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game-container {
    text-align: center;
}

.game-name {
    color: #000;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    margin: 20px 0;
}

.cell {
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

#restart-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#result-message {
    font-size: 20px;
    margin-bottom: 20px;
}

#close-popup {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
